

body{
  background-color: rgb(71, 71, 71);
  
}

.logo{
  display: block;
  margin-left: 50%;
}

header{
  font-size: 10px;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: rgb(51, 51, 51);
  /* background:#37ad86; */
}

header img{
  width: 50px; height:40px; padding-bottom: -10px;
  margin-bottom: 1px;
  margin-left: 20px;
}

header img:hover{
  opacity: 0.8;
}

header .navbar a{
  font-size: 11px;
  font-weight: normal;
  color:rgb(177, 177, 177);
  padding-left:10px;
  }

header .logo{
  font-size:15px;
  color: transparent;
  text-align: center;
}

header .navbar a:hover{
  font-size:11px;
  font-weight: 900;
  color:rgb(255, 255, 255);
  /* color:#30705b; */
  transition: 1s;
  /* background-color: #37ad86; */
}

header .ti{
  text-align: center;
  color: transparent;
}

#menu-bar{
  font-size:12.5px;
  cursor: pointer;
  color:#fff;
  border-radius: 5px;
  padding:8px;
  display: none;
}


#mysearch{
    margin-top: 5rem;
    margin-left: 15%;
    width: 70%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff4b;
    color: rgb(255, 255, 255);
    border: 1px solid #69696900;
    padding: 5px;
    outline: none;
}

.search{
  background-color: rgb(71, 71, 71);
}

input::-webkit-input-placeholder{
  color:rgba(255, 255, 255, 0.651)
}

#myse{
  background-color: rgb(71, 71, 71);
}

h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

h2{
  text-align: center;
  color: rgba(255, 255, 255, 0.459)
}

#myse li{
  border-bottom: 1px solid rgb(148, 148, 148) ;
  width: 50%;
  margin-left:25%;
  list-style-type: none;
  
  
}

#myse li a{
    margin-top: 10px;display: block;
    list-style-type: none;
    /* text-align: center; */
    color:rgb(124, 124, 124);
    margin-left: 10px;
    
}

#myse li a:hover{
  margin-top: 10px;display: block;
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 10px;
  color:rgb(255, 255, 255);
  
}

.down{
  display: block;
  margin: auto;
  opacity: 0.3;
}

.down:hover{
  opacity: 20;
}

a h1{
  font-size: 10px;
  text-align: center;
}

span{
  color: transparent;
  display: none;
}

li {
  display: none;
}

li a{
  display: none;
}

.first-page-div{
  border-radius: 8px;
  height: 40px;
  width: 70px;
  margin-top: 70px;
  margin-left: 50%;
  display: block;
  padding: 5px;
}

.first-page-div .first-page{
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  display: block;
  text-align: center;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 8px;
}

.first-page-div .first-page:hover{
  opacity: 2;
}

@media (max-width:600px){
 


     #mySearch{
         margin-left: 10%;
         z-index: 1000;
     }

     #myMenu{
         margin-top: 3rem;
         display: block;
     }

     #myMenu li a{
         /* 疊起來 */
         display: block;
         font-size:15px;
         color:rgb(177, 177, 177);
         /* background-color: #377e66; */
         /* background-color: rgb(59, 59, 59); */
         border-bottom:0.4px solid rgb(204, 204, 204);
     }

     .logo{
      display: block;
      margin-left: 40%
    }
    }