#mysearch{
    margin-top: 5rem;
    margin-left: 15%;
    width: 70%;
    border-radius: 10px;
    font-size: 20px;
    background-color: #ffffff4b;
    color: rgb(255, 255, 255);
    border: 1px solid #69696900;
    padding: 5px;
}

.search{
  background-color: rgb(71, 71, 71);
}

input::-webkit-input-placeholder{
  color:rgba(255, 255, 255, 0.651)
}

#myse{
  background-color: rgb(71, 71, 71);
}

h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

h2{
  text-align: center;
  color: rgba(255, 255, 255, 0.459)
}

#myse li{
  border-bottom: 1px solid rgb(148, 148, 148) ;
  width: 50%;
  margin-left:25%;
  list-style-type: none;
  
  
}

#myse li a{
    margin-top: 10px;display: block;
    list-style-type: none;
    /* text-align: center; */
    color:rgb(124, 124, 124);
    margin-left: 10px;
    
}

#myse li a:hover{
  margin-top: 10px;display: block;
  list-style-type: none;
  margin-left: 20px;
  margin-bottom: 10px;
  color:rgb(255, 255, 255);
  
}

.down{
  display: block;
  margin: auto;
  opacity: 0.3;
}

.down:hover{
  opacity: 20;
}

a h1{
  font-size: 10px;
  text-align: center;
}

span{
  color: transparent;
  font-size: 1px;
}
  
 