.pages{
    margin-top: 2rem;
    margin: right;
}

.pages h2{
    color: #377e66;
    text-align: center;
}

.pages .now{
    color: #fff;
    background: #377e66;
    border-radius: 50%;
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-left: 2rem;
}

.pages .now:hover{
    background: #65af97;
    color: #fff;
}

.pages .new{
    color: #377e66;
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: 3rem;
    border-radius: 50%;
}

.pages .new:hover{
    color: #377e66;
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: rgb(241, 241, 241);
    margin-left: 3rem;
    border-radius: 50%;
}

.pages .next{
    color: #377e66;
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: 5rem;   
}

.pages .thir{
    color: #377e66;
    position: absolute;
    height: 1rem;
    width: 1rem;
    margin-left: 4rem;
    border-radius: 50%;
}

.pages .thir:hover{
    color: #377e66;
    position: absolute;
    height: 1rem;
    width: 1rem;
    background-color: rgb(241, 241, 241);
    margin-left: 4rem;
    border-radius: 50%;
}

@media (max-width: 991px){
    .gallery .box-container .box a{
        font-size: 20px;
        
    }
}

@media (max-width: 896px){
    .gallery .box-container .box a{
        display: flex;
        position: relative;
        
    }
}

@media (max-width: 600px) {
    .gallery .box-container .box a{
        position: absolute;
        color: rgba(0, 0, 0, 0);
    }

    .gallery .box-container .box img{
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .gallery .box-container .box img{
        height: 300px;
        display: block;
        margin: auto;
    }

    .gallery .box-container .box a{
        position: relative;
    }
}